.recherche{
    display: inline-block;
    border: 1px solid #777;
    padding: 0;
}
.recherche:hover{
    outline: 1px solid #f00;
}
.recherche__input{
    border: none;
}
.recherche__input:focus{
    border: none;
    outline: none;
}
.recherche__img{
    display: inline-block; 
    border: 1px, solid

}